* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  height: 5vh;
  align-items: center;
  background-color: white;
  padding: 10px 10%;
  z-index: 100;
}
nav #header-bg {
  position: absolute;
  width: 100%;
  height: 5vh;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  z-index: -1;
}
nav a {
  height: 100%;
}
nav img {
  height: 100%;
}
nav #logo-vertical-bar {
  height: 80%;
  width: 2px;
  background-color: #71e27a;
  margin: 0 10px;
}
nav #logo-label {
  color: gray;
  font-size: 14px;
}
nav ul {
  list-style-type: none;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  flex: 1;
  justify-content: flex-end;
}
nav ul li {
  padding-left: 40px;
  text-align: right;
}
nav ul li a {
  text-decoration: none;
  color: #54a4db;
}

main .container {
  margin: 10vh 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container .form-nav {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #06357a;
  width: 100%;
}
main .container .form-nav ul {
  display: flex;
  justify-content: space-around;
}
main .container .form-nav ul li {
  list-style-type: none;
}
main .container .form-nav ul li button {
  font-size: 18px;
  padding: 0 20px;
  height: 40px;
  outline: none;
  border: none;
  color: gray;
  background: none;
  text-transform: uppercase;
  transition: color 0.5s ease;
}
main .container .form-nav ul li button:hover {
  cursor: pointer;
  color: #71e27a;
}
main .container .form-nav ul li button.selected {
  color: #71e27a;
}
main .container form {
  position: relative;
  width: 100%;
}
main .container form section {
  background-color: white;
  width: 100%;
  height: 80vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 50px;
  min-width: 800px;
  opacity: 1;
  transition: left 0.6s ease, opacity 0.3s ease-in;
}
main .container form section.hide-right {
  opacity: 0;
  left: 5000px;
}
main .container form section.hide-left {
  opacity: 0;
  left: -5000px;
}
main .container form section .input-body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.7s ease;
}
main .container form section .input-body.property-list {
  overflow-y: scroll;
}
main .container form section .input-body table {
  border-spacing: 0;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
main .container form section .input-body table tr {
  border-collapse: collapse;
}
main .container form section .input-body table tr th {
  padding-bottom: 10px;
  text-align: left;
  color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
main .container form section .input-body table tr td {
  position: relative;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-collapse: collapse;
}
main .container form section .input-body table tr td .list-index {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: rgba(0, 0, 0, 0.25);
}
main .container form section .input-body table tr td input, main .container form section .input-body table tr td select {
  width: 100%;
  height: 100%;
  border-radius: 0;
  max-width: 800px;
  min-width: 0;
  border: none;
}
main .container form section .input-body table tr td input.first-column, main .container form section .input-body table tr td select.first-column {
  padding-left: 30px;
}
main .container form section .input-footer {
  display: relative;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
}
main .container form section .input-footer button {
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: #54a4db;
  color: white;
  width: 100px;
  border-radius: 5px;
}
main .container form section .input-footer button.btn-prev {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-200%);
}
main .container form section .input-footer button.btn-next {
  position: absolute;
  right: 50%;
  bottom: 25px;
  transform: translateX(200%);
}
main .container form section label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}
main .container form section input, main .container form section select {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border: 1px solid #bdccd4;
  outline: none;
  padding: 10px;
  background-color: #faf6f6;
  border-radius: 10px;
  max-width: 800px;
  min-width: 500px;
}
main .container form section input + label, main .container form section select + label {
  margin-top: 40px;
}

.circle-gray {
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 40vh;
  z-index: -1000;
}

.circle-yellow {
  position: fixed;
  top: 20vh;
  left: -50px;
  width: 30vh;
  z-index: -1000;
}