$navy: #06357a;
$gold: #b99c5f;
$newblue: #001e60;
$green: #05b36c;
$blue1: #54a4db;
$blue2: #00adcd;
$pink: #e8246b;
$yellow: #f7ec22;
$gray: #bdccd4;
$black: #222222;
$font: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    background-color: white;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    height: 5vh;
    align-items: center;
    background-color: white;
    padding: 10px 10%;

    #header-bg {
        position: absolute;
        width: 100%;
        height: 5vh;
        top: 0;
        left: 0;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
        z-index: -1;
    }

    a {
        height: 100%;
    }
    
    img{
        height: 100%;

    }

    #logo-vertical-bar {
        height: 80%;
        width: 2px;
        background-color: $green;
        margin: 0 10px;
    }

    #logo-label {
        color: gray;
        font-size: 14px;
    }

    ul {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        font-weight: bold;
        flex: 1;
        justify-content: flex-end;

        li {
            padding: 0 20px;
            text-align: right;

            a {
                text-decoration: none;
                color: $navy;
            }
        }
    }
}

main {
    margin-top: 10vh;

    .container {
        margin: 0 10%;
        display: flex;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
        border-radius: 10px;
        overflow: hidden;
        height: 80vh;

        form {
            background-color: white;
            padding: 50px;
            flex: 1;
            overflow-y: scroll;


            section {
                display: flex;
                flex-direction: column;

                & + section {
                    margin-top: 40px;
                    padding-top: 40px;
                    border-top: 1px solid $green;
                }

                h2 {
                    color: $navy;
                    margin-bottom: 40px;
                }

                label {
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: rgba(0,0,0,0.25);
                    margin-bottom: 10px;

                }

                input, select {
                    font-family: $font;
                    font-size: 18px;
                    border: 1px solid $gray;
                    outline: none;
                    padding: 10px;
                    background-color: rgb(250, 246, 246);
                    border-radius: 10px;

                    & + label {
                        margin-top: 20px;
                    }
                }

                select:invalid {
                    color: gray;
                }
            }
        }

        .cart {
            flex: 1;
            padding: 50px;
            color: white;
            background-color: $navy;

            .cart-header {
                display: flex;
                align-items: baseline;
                justify-content: center;

                h1 {
                    text-align: center;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
            }

            .cart-body {
                
                table {
                    text-align: left;
                    width: 100%;
                    border-collapse: collapse;

                    th {
                        color: gray;
                    }

                    tr {
                        background-color: white;
                        border-radius: 10px;
                        color: black;
                        height: 2em;
                    }
                }
            }
        }
    }
}

.circle-gray {
    position: fixed;
    bottom: -100px;
    left: -0;
    width: 40vh;
    z-index: -2;
}

.circle-yellow {
    position: fixed;
    top: 20vh;
    left: -50px;
    width: 30vh;
    z-index: -1;
}